/* width */

::-webkit-scrollbar {
  width: 8px;
  height: 177px;

  background: #010f19;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: #f9fcff;
  opacity: 0.75;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: red; */
  background: #ff414e;
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #b30000; */
}

body {
  margin: 0;
  padding: 0;
  color: #1B1D1C;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  /* background-color: #ffde22; */
  font-family: Open Sans;

  background: rgb(255,161,32);
  background: linear-gradient(341deg, rgba(255,161,32,1) 21%, rgba(255,222,34,1) 95%);

}
 